[submodule "third_party/opencv_contrib"]
	path = third_party/opencv_contrib
	url = https://github.com/opencv/opencv_contrib.git
[submodule "third_party/opencv"]
	path = third_party/opencv
	url = https://github.com/opencv/opencv.git
[submodule "third_party/yolo5"]
	path = third_party/yolo5
	url = https://github.com/ultralytics/yolov5
